<!doctype html>
<html>
  <head>
    <base href="/">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Sustaisanbility Patterns Catalog</title>
  </head>
  <body>
 
    <!-- HEADER -->
    <div class="jumbotron text-center">
      <h1>Home</h1>
      <p></p>
    </div>
 
    <!-- LEFT NAV -->
    <div class="sidenav">
      <a href="/">Home</a>
      <a href="/howto">How to</a>
      <a href="/list">List of Patterns</a>
      <a href="/admin">Admin</a>
    </div>
 
  <!-- MAIN -->
    <div class="main">
      <h2 > <u> Context and purpose</u></h2>
      <br>
      <p >This catalog has been developed in the context of a master thesis (Successful Patterns in Corporate Social Responsibility in IT) under the Erasmus Mundus PERCCOM Program with the partnership of California State University of Long Beach.
        It aims to reference and spread sustainability patterns coming from the Corporate Social Responsibility reports of the 20 biggest IT companies.To extract these patterns, quantitative and qualitative analysis have been performed into the different reports. The frameworks used and the realization of this extraction are detailed in an article published in August 2018*. We assume that the usage of this catalog should increase the sustainability of an IT company by giving them first tracks to implement a sustainability strategy. In other words, If you are representative or executive of an IT company and want to be more sustainable, this catalog is made for you. It gives sustainability patterns applicable in the IT industry. These patterns provide a description of the strategy as well as metrics to evaluate the results which can be social, environmental or economics.
      </p>

      <h2 > <u>List of investigated companies</u></h2>
      <br>

      <p> 
        Here is the list of the 20 investigated companies and their CSR reports, the reports are from 2015 if year not mentioned: <br>
        -<a href="/sources/reports/Apple.pdf" target="_blank">Apple</a><br>
        -<a href="/sources/reports/Arrow.pdf" target="_blank">Arrow</a><br>
        -<a href="/sources/reports/ATT.pdf" target="_blank">AT&T</a><br>
        -<a href="/sources/reports/Avnet.pdf" target="_blank">Avnet (2014)</a>  <br>
        -<a href="/sources/reports/Century.pdf" target="_blank">Century Link</a><br> 
        -<a href="/sources/reports/Cisco.pdf" target="_blank">Cisco</a><br> 
        -<a href="/sources/reports/Cognizant.pdf" target="_blank">Cognizant</a><br> 
        -<a href="/sources/reports/Comcast.pdf" target="_blank">Comcast</a><br> 
        -<a href="/sources/reports/CSC.pdf" target="_blank">CSC</a><br> 
        -<a href="/sources/reports/EMC.pdf" target="_blank">EMC</a><br>
        -<a href="/sources/reports/Google.pdf" target="_blank">Google</a><br>
        -<a href="/sources/reports/HP.pdf" target="_blank">HP</a><br> 
        -<a href="/sources/reports/IBM.pdf" target="_blank">IBM</a><br>
        -<a href="/sources/reports/Intel.pdf" target="_blank">Intel</a><br>
        -<a href="/sources/reports/Microsoft.pdf" target="_blank">Microsoft</a><br>
        -<a href="/sources/reports/Oracle.pdf" target="_blank">Oracle</a><br>
        -<a href="/sources/reports/Qualcomm.pdf" target="_blank">Qualcomm</a><br>
        -<a href="/sources/reports/Verizon.pdf" target="_blank">Verizon</a><br>
        -<a href="/sources/reports/WD.pdf" target="_blank">Western Digital(2012)</a><br>
        -<a href="/sources/reports/Xerox.pdf" target="_blank">Xerox</a><br>
      </p>

      

      <fn> <i> <FONT size="1">* Déroche, G.; Penzenstadler, B.	An Analysis of Best Practice Patterns for Corporate Social Responsibility in Top IT Companies. Technologies 2018, 6, 76. Accessible <a href="http://www.mdpi.com/2227-7080/6/3/76" target="_blank">here</a> </FONT> </i> </fn>
    </div>
 
 
 
 
    </body>
</html>