<!doctype html>
<html>
  <head>
    <base href="/">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Sustaisanbility Patterns Catalog</title>
  </head>
  <body>
 
    <!-- HEADER -->
    <div class="jumbotron text-center">
      <h1>How to use me ?</h1>
      <p></p>
    </div>
 
    <!-- LEFT NAV -->
    <div class="sidenav">
      <a href="/">Home</a>
      <a href="/howto">How to</a>
      <a href="/list">List of Patterns</a>
      <a href="/admin">Admin</a>
    </div>
 
    
  <!-- MAIN -->
    <div class="main">

      <h2> <u>Representation of a pattern</u></h2>
      <br>
      <p>
          All the patterns referenced here a made of several artifacts. Here is the list of these artifacts and an example of their representation in this website:
          <br>
          -Apple<br>
          -Arrow<br>
          -AT&<br>
          -Avnet (2014)<br>
          -Century Lin<br> 
          -Cisco <br> 
          -Cognizant<br> 
          -Comcast<br> 
          -CSC<br> 
          -EMC<br>
         
        
      
      </p>

      <img src="/sources/images/ExampleOfRepresentation.jpg" width="1500" height ="986">

      <h2 ALIGN=center > <u> Get Started</u></h2>
      <br>
      <p ALIGN=center>
        1. Click on List of Patterns <br>
        2.Check the categories you are intrested in<br>
        3.If one of the pattern seems intresting click on + to get more information <br>
        4. Finally, if you definitely find the perfect strategy for your company, just wonload the related PDF document to share with your coleagues<br>
      </p>

      
    </div>
 
 
 
 
    </body>
</html>