<!doctype html>
<html>
    
  <head>
    <base href="/">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Sustaisanbility Patterns Catalog</title>
  </head>
  <body>
 
    <!-- HEADER -->
    <div class="jumbotron text-center">
      <h1>How to use me ?</h1>
      <p></p>
    </div>
 
    <!-- LEFT NAV -->
    <div class="sidenav">
      <a href="/">Home</a>
      <a href="/howto">How to</a>
      <a href="/list">List of Patterns</a>
      <a href="/admin">Admin</a>
    </div>
 
    
  <!-- MAIN -->
    <div class="main">

        <h2 ALIGN=center > <u> Get Started</u></h2>
        <br>
        <p ALIGN=center>
          1. Click on List of Patterns <br>
          2.Check the categories you are intrested in<br>
          3.If one of the pattern seems intresting click on + to get more information <br>
          4. Finally, if you definitely find the perfect strategy for your company, just wonload the related PDF document to share with your coleagues<br>
        </p>

      <h2> <u>Representation of a pattern</u></h2>
      <br>
      <p>
          All the patterns referenced here have a related reacpitulative-PDF that you can download by clicking the pdf icon. Moreover, they are made of several artifacts. Here is the list of these artifacts and an example of their representation in this website:
          <br>
          -<strong>Time Scope</strong>: It refers to the time for a strategy to be efficient (short-term,mid-term,long-term).<br>
          -<strong>Repeatability</strong>: This percentage represents the ratio of occurence of a particular strategy among the investigated reports. In the example(Blue) a repeatability of 90% means the strategy was mentioned in 18 reports out of 20.<br>
          -<strong>Level of Confidence</strong>: This is a score out of 10 for each patterns( highlighted in red on the example below). This score gives an idea about how much we can believe in one strategy efficiency, more it is high better it is.<br> 
          -<strong>Impacts</strong>: This artifact is based on ISO 26000 and indicates on which categories of this norm a strategy is related to. The different categories are: <br><br>
                  -Environment <br>
                  -Community involvment and development<br>
                  -Labor Practices<br>
                  -Fair Operating Practices<br>
                  -Governance<br>
                  -Consumer Issues<br>
                  -Human Rights<br> <br>
          -<strong>Outcomes</strong>: It represents a qualitative expression of the different benefits that a strategy can promise.<br>
          -<strong>Metrics</strong>: Represents the metrics that can be used to perform a quantification of the different outcomes.<br> 
          -<strong>Description</strong>: Short description of the pattern. <br> 
          -<strong>Examples</strong>: Concrete example of the application of a pattern coming from one of the investigated reports. The pdf File contains more details about them.<br> 
          -<strong>Problematics</strong>: Most of the patterns are linked to international problematics coming from the UN Sustainable Devlopment Goals (SDGs) or from Paris Agreement.<br> 
          -<strong>Additional Components</strong>: Some patterns have additional components. An additional components is a strategy which goes under one of the pattern and which was cited in a lot of reports but were not general enough to constitute itself a pattern. The percentage of these additional components refers to their repeatability into the reports which were containing the pattern. In our example, the pattern is constituted of three additional components (green). Two of them have 67% meaning that they were mentioned in 12 reports out of 18; one is 83% meaning that it was mentioned in 15 reports out of 20.<br>
         
        
      
      </p>

      <img src="/sources/images/ExampleOfRepresentation.jpg" width="1500" height ="986">

      

      
    </div>
 
 
 
 
    </body>
</html>
