<!doctype html>
<html>
  <head>
    <base href="/">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>welcome to WAKANDA</title>
  </head>
  <body>
 
    <!-- HEADER -->
    <div class="jumbotron text-center">
      <h1>Liste des patterns</h1>
      <p></p>
    </div>
 
    <!-- LEFT NAV -->
    <div class="sidenav">
      <a href="/">Home</a>
      <a href="/howto">How to</a>
      <a href="/list">List of Patterns</a>
      <a href="/tools">Tools</a>
      <a href="/admin">Admin</a>
    </div>
 
    <div class="main">
     
    </div>
 
 
 
 
    </body>
</html>